.version.eclipse_forzado /* version checker */
{
	color: #0000E4;
	background-color: #EA37EC;
}

.html
{
	background-color: #1A1A1A;
}

#page
{
	z-index: 1;
	width: 988px;
	min-height: 533.7000000000007px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 122px;
	padding-bottom: 16px;
	width: 0.01px;
}

#u440
{
	z-index: 344;
	height: 61px;
	top: 0px;
}

#u440-bw
{
	z-index: 344;
}

#menuu245
{
	z-index: 346;
	width: 988px;
	top: 18px;
	left: 50%;
	margin-left: -494px;
}

#u253
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
}

#u254
{
	width: 98px;
	padding-bottom: 16px;
}

#u254:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u254.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u255-4
{
	width: 52px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u254:hover #u255-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u255-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u298
{
	width: 188px;
	min-height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u301
{
	width: 188px;
	padding-bottom: 16px;
}

#u301.MuseMenuActive
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u304-4
{
	width: 142px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u301:hover #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u301.MuseMenuActive #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u305
{
	width: 240px;
	min-height: 34px;
	margin-right: -10000px;
	left: 290px;
}

#u308
{
	width: 240px;
	padding-bottom: 16px;
}

#u308.MuseMenuActive
{
	width: 240px;
	min-height: 0px;
	margin: 0px;
}

#u310-4
{
	width: 194px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u308:hover #u310-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 194px;
	margin: 0px -10000px 0px 0px;
}

#u308.MuseMenuActive #u310-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 194px;
	margin: 0px -10000px 0px 0px;
}

#u312
{
	width: 169px;
	min-height: 34px;
	margin-right: -10000px;
	left: 532px;
}

#u313
{
	width: 169px;
	padding-bottom: 16px;
}

#u313.MuseMenuActive
{
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u314-4
{
	width: 123px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u313:hover #u314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u313.MuseMenuActive #u314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u8042
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 703px;
}

#u8043
{
	width: 123px;
	padding-bottom: 16px;
}

#u8043.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u8044-4
{
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 22px;
}

#u8043.MuseMenuActive #u8044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u319
{
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 828px;
}

#u322
{
	width: 160px;
	padding-bottom: 16px;
}

#u322.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u323-4
{
	width: 115px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 22px;
}

#u322:hover #u323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive #u323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u125
{
	z-index: 345;
	height: 1px;
	top: 61px;
}

#u125-bw
{
	z-index: 345;
}

#pu481
{
	width: 0.01px;
	margin-left: 32px;
}

#u481
{
	z-index: 311;
	width: 122px;
	height: 119px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/celulasolar_negro2.png") no-repeat center center;
	background-size: cover;
}

#pu470-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 136px;
}

#u470-4
{
	z-index: 307;
	width: 652px;
	min-height: 85px;
	background-color: transparent;
	position: relative;
}

#pu469-4
{
	width: 0.01px;
	margin-top: -5px;
}

#u469-4
{
	z-index: 303;
	width: 652px;
	min-height: 50px;
	background-color: transparent;
	line-height: 32px;
	position: relative;
	margin-right: -10000px;
}

#u8010
{
	z-index: 333;
	width: 364px;
	height: 18px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	border-width: 1px 0px 0px;
}

#u7144
{
	z-index: 313;
	height: 722px;
	background: transparent url("../images/frechilla01.jpg") no-repeat center center;
	background-size: cover;
}

#u7144-bw
{
	z-index: 313;
	margin-top: 42px;
	height: 722px;
}

#u7199-4
{
	z-index: 321;
	width: 820px;
	min-height: 34px;
	background-color: transparent;
	margin-left: 84px;
	margin-top: 22px;
	position: relative;
}

#pu468-283
{
	width: 0.01px;
	margin-left: -128px;
	margin-top: 27px;
}

#u468-283
{
	z-index: 19;
	width: 652px;
	min-height: 11988px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u468-169
{
	font-size: 50px;
	line-height: 58px;
	color: #FDB813;
}

#u468-175
{
	line-height: 32px;
	color: #FFFFFF;
}

#u468-191 > #u468-190:before,#u468-217 > #u468-216:before
{
	visibility: hidden;
	counter-increment: list 0;
}

#u7111
{
	z-index: 302;
	width: 988px;
	min-height: 909px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4491px;
	left: 128px;
}

#u7124
{
	z-index: 312;
	width: 122px;
	height: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7751px;
	left: 154px;
	background: transparent url("../images/solcarcel.png") no-repeat center center;
	background-size: contain;
}

#u7163
{
	z-index: 314;
	height: 731px;
	background: transparent url("../images/zugspitze.jpg") no-repeat center center;
	background-size: cover;
}

#u7163-bw
{
	z-index: 314;
	margin-top: 6334px;
	height: 731px;
}

#u7184-4
{
	z-index: 315;
	width: 371px;
	min-height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #FDB813;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10505px;
	left: 422px;
	padding: 21px 14px 14px;
}

#u7184-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFD46D;
	padding-top: 21px;
	padding-bottom: 14px;
	min-height: 49px;
	width: 372px;
	margin: 10505px -9999px 1px 0px;
}

#u7184-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u7185
{
	z-index: 319;
	width: 988px;
	height: 568px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11013px;
	left: 128px;
	background: transparent url("../images/tesla-powerwall.jpg") no-repeat left center;
	background-size: cover;
}

#impuesto_al_sol
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 7614px;
}

#u7225-6
{
	z-index: 325;
	width: 820px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7087px;
	left: 212px;
}

#u7282
{
	z-index: 331;
	width: 988px;
	min-height: 909px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2282px;
	left: 128px;
}

#u8028
{
	z-index: 334;
	width: 988px;
	min-height: 909px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 128px;
}

#u8030-4
{
	z-index: 335;
	width: 978px;
	min-height: 29px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 1283px;
	left: 138px;
}

#u8062-4
{
	z-index: 340;
	width: 652px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11608px;
	left: 296px;
}

#pu7971
{
	width: 0.01px;
	margin-left: 168px;
	margin-top: 1px;
}

#u7971
{
	z-index: 332;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u8058
{
	z-index: 339;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u345
{
	z-index: 16;
	height: 1px;
}

#u345-bw
{
	z-index: 16;
	margin-top: 1px;
	height: 1px;
}

#pu344-8
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 17px;
}

#u344-8
{
	z-index: 2;
	width: 336px;
	min-height: 53px;
	margin-right: -10000px;
}

#u8007-6
{
	z-index: 10;
	width: 336px;
	min-height: 38px;
	padding-top: 15px;
	margin-right: -10000px;
	left: 400px;
}

#u7955
{
	z-index: 18;
	width: 53px;
	height: 53px;
	margin-right: -10000px;
	left: 767px;
}

#u7955:hover
{
	width: 53px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7931
{
	z-index: 17;
	width: 53px;
	height: 53px;
	margin-right: -10000px;
	left: 851px;
}

#u7955.MuseLinkActive,#u7931:hover
{
	width: 53px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7931.MuseLinkActive
{
	width: 53px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 988px;
}

