.Menu
{
	font-family: kreon-n7, serif;
}

.TITULAR-1,.TITULAR-2,.Subtitulo-antetitulo,.Firma-a
{
	font-family: kreon-n4, serif;
}

.Boton
{
	font-family: raleway-n8, sans-serif;
}

.Pie
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Sumario,.Texto,.Texto-ficha,.Titulo-Ficha,.Texto-Ficha-resp
{
	font-family: source-sans-pro-n4, sans-serif;
}

.Estilo-de-p-rrafo,.negrita-dorada,.terminos
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u344-8,#u8007-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7575-4.AccordionPanelTabOpen p,#u7575-4.AccordionPanelTabOpen h2
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7371-4
{
	font-family: andada-n4, serif;
}

#u7304-7,#u7304-20,#u7425-7,#u7425-25,#u7433-7,#u7433-23,#u7635-2
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u7361-5,#u7365-5,#u7366-5,#u7676-4,#u7676-6,#u7718-4,#u7718-6,#u7717-4,#u7717-6,#u7720-4,#u7720-6,#u7721-4,#u7721-6,#u7722-4,#u7722-6
{
	font-family: raleway-n4, sans-serif;
}

