.Menu
{
	font-family: kreon-n7, serif;
}

.TITULAR-1,.TITULAR-2,.Subtitulo-antetitulo,.Firma-a
{
	font-family: kreon-n4, serif;
}

.Boton
{
	font-family: raleway-n8, sans-serif;
}

.Pie
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Sumario,.Texto,.Texto-ficha,.Titulo-Ficha,.Texto-Ficha-resp
{
	font-family: source-sans-pro-n4, sans-serif;
}

.Estilo-de-p-rrafo,.negrita-dorada,.terminos
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u344-8,#u8007-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7863-78,#u7863-80
{
	font-family: source-sans-pro-n7, sans-serif;
}

