.version.index /* version checker */
{
	color: #00000F;
	background-color: #DF72C6;
}

.html
{
	background-color: #1A1A1A;
}

#page
{
	z-index: 1;
	width: 988px;
	min-height: 533.9999999999955px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 16px;
	width: 0.01px;
}

#u440
{
	z-index: 106;
	height: 61px;
	top: 0px;
}

#u440-bw
{
	z-index: 106;
}

#menuu245
{
	z-index: 108;
	width: 988px;
	top: 18px;
	left: 50%;
	margin-left: -494px;
}

#u253
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
}

#u254
{
	width: 98px;
	padding-bottom: 16px;
}

#u254:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u254.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u255-4
{
	width: 52px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u254:hover #u255-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u255-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u298
{
	width: 188px;
	min-height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u301
{
	width: 188px;
	padding-bottom: 16px;
}

#u301.MuseMenuActive
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u304-4
{
	width: 142px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u301:hover #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u301.MuseMenuActive #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u305
{
	width: 240px;
	min-height: 34px;
	margin-right: -10000px;
	left: 290px;
}

#u308
{
	width: 240px;
	padding-bottom: 16px;
}

#u308.MuseMenuActive
{
	width: 240px;
	min-height: 0px;
	margin: 0px;
}

#u310-4
{
	width: 194px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u308:hover #u310-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 194px;
	margin: 0px -10000px 0px 0px;
}

#u308.MuseMenuActive #u310-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 194px;
	margin: 0px -10000px 0px 0px;
}

#u312
{
	width: 169px;
	min-height: 34px;
	margin-right: -10000px;
	left: 532px;
}

#u313
{
	width: 169px;
	padding-bottom: 16px;
}

#u313.MuseMenuActive
{
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u314-4
{
	width: 123px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u313:hover #u314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u313.MuseMenuActive #u314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u8042
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 703px;
}

#u8043
{
	width: 123px;
	padding-bottom: 16px;
}

#u8043.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u8044-4
{
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 22px;
}

#u8043.MuseMenuActive #u8044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u319
{
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 828px;
}

#u322
{
	width: 160px;
	padding-bottom: 16px;
}

#u322.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u323-4
{
	width: 115px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 22px;
}

#u322:hover #u323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u322.MuseMenuActive #u323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u125
{
	z-index: 107;
	height: 1px;
	top: 61px;
}

#u125-bw
{
	z-index: 107;
}

#pu420
{
	width: 0.01px;
	margin-left: -131px;
}

#u420
{
	z-index: 19;
	min-height: 700px;
	background: transparent url("../images/aikawa_solar_power_plant_09-u420-fr.png") no-repeat center bottom;
	background-size: cover;
}

#u420_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	position: relative;
	left: -100px;
	padding-top: 54px;
	padding-bottom: 122px;
}

#u340-4
{
	z-index: 27;
	width: 988px;
	min-height: 161px;
	background-color: transparent;
	line-height: 156px;
	letter-spacing: 9px;
	font-size: 130px;
	left: 100px;
	position: relative;
}

#u455-4
{
	z-index: 95;
	width: 652px;
	min-height: 47px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
	left: 268px;
	position: relative;
}

#u388
{
	z-index: 90;
	width: 103px;
	height: 68px;
	left: 542px;
	margin-top: 26px;
	position: relative;
	background: transparent url("../images/panel_solar_trazogris.png") no-repeat center center;
	background-size: cover;
}

#u338-6
{
	z-index: 21;
	width: 692px;
	min-height: 90px;
	background-color: transparent;
	left: 248px;
	margin-top: 27px;
	position: relative;
}

#u338-2
{
	color: #FFFFFF;
	font-weight: 700;
}

#u387-4
{
	z-index: 86;
	width: 302px;
	min-height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #FDB813;
	background-color: transparent;
	line-height: 22px;
	left: 429px;
	margin-top: 41px;
	position: relative;
	padding: 21px 14px 14px;
}

#u387-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFD46D;
	padding-top: 21px;
	padding-bottom: 14px;
	min-height: 28px;
	width: 303px;
	margin: 41px 1px 1px 0px;
}

#u387-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u420-bw
{
	z-index: 19;
	min-height: 700px;
}

#u433-4
{
	z-index: 91;
	width: 38px;
	min-height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #D0D0D0;
	background-color: transparent;
	border-radius: 52px;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	line-height: 34px;
	font-family: andada, serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,44,0);
	-ms-transform: matrix(0,1,-1,0,44,0);
	transform: matrix(0,1,-1,0,44,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 602px;
	padding: 2px 1px 1px 3px;
}

#eclipse
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 642px;
}

#pu494
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 50px;
}

#u494
{
	z-index: 102;
	width: 138px;
	height: 146px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/celulasolar_negro2.png") no-repeat center center;
	background-size: cover;
}

#pu337-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 158px;
}

#u337-4
{
	z-index: 63;
	width: 652px;
	min-height: 85px;
	background-color: transparent;
	position: relative;
}

#u336-4
{
	z-index: 59;
	width: 652px;
	min-height: 50px;
	background-color: transparent;
	line-height: 32px;
	margin-top: 11px;
	position: relative;
}

#u467
{
	z-index: 99;
	width: 364px;
	height: 1px;
	background-color: #FFFFFF;
	margin-left: 168px;
	position: relative;
}

#u335-4
{
	z-index: 55;
	width: 666px;
	min-height: 180px;
	background-color: transparent;
	margin-left: 168px;
	margin-top: 40px;
	position: relative;
}

#u343-6
{
	z-index: 68;
	width: 224px;
	min-height: 37px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 168px;
	margin-top: 27px;
	position: relative;
}

#u343-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 224px;
	margin: 27px 0px 0px 168px;
}

#u343-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 224px;
	margin: 27px 0px 0px 168px;
}

#u343-6:hover p,#u343-6:hover span
{
	color: #FFD46D;
	visibility: inherit;
}

#u407
{
	z-index: 20;
	min-height: 597.8px;
	padding-bottom: 0px;
	background: #D5D5D6 url("../images/montealtogoogleearth03-u407-fr.png") no-repeat center bottom;
	background-color: rgba(46,49,51,0.2);
	background-size: cover;
}

#u407_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	position: relative;
	left: -100px;
	padding-top: 53px;
	padding-bottom: 40px;
}

#pu7236
{
	width: 0.01px;
	left: 58px;
	position: relative;
}

#u7236
{
	z-index: 104;
	width: 202px;
	height: 197px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	background: transparent url("../images/navarrasolar02.png") no-repeat center center;
	background-size: contain;
}

#pu347-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 210px;
}

#u347-4
{
	z-index: 51;
	width: 652px;
	min-height: 171px;
	background-color: transparent;
	position: relative;
}

#u348-4
{
	z-index: 47;
	width: 652px;
	min-height: 50px;
	background-color: transparent;
	line-height: 32px;
	margin-top: 6px;
	position: relative;
}

#u524
{
	z-index: 100;
	width: 382px;
	height: 1px;
	background-color: #FFFFFF;
	left: 268px;
	margin-top: 1px;
	position: relative;
}

#u349-4
{
	z-index: 43;
	width: 652px;
	min-height: 143px;
	background-color: transparent;
	color: #D0D0D0;
	left: 268px;
	margin-top: 37px;
	position: relative;
}

#u8021-6
{
	z-index: 74;
	width: 224px;
	min-height: 37px;
	background-color: transparent;
	line-height: 22px;
	left: 268px;
	margin-top: 34px;
	position: relative;
}

#u8021-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 224px;
	margin: 34px 0px 0px;
}

#u8021-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 224px;
	margin: 34px 0px 0px;
}

#u8021-6:hover p,#u8021-6:hover span
{
	color: #FFD46D;
	visibility: inherit;
}

#u407-bw
{
	z-index: 20;
	min-height: 597.8px;
	margin-top: 38px;
}

#pu7237
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 55px;
}

#u7237
{
	z-index: 105;
	width: 107px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	background: transparent url("../images/autoconsumo-u7237-fr.png") no-repeat center center;
	background-size: contain;
}

#pu352-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 123px;
}

#u352-4
{
	z-index: 39;
	width: 652px;
	min-height: 82px;
	background-color: transparent;
	position: relative;
}

#u353-4
{
	z-index: 35;
	width: 652px;
	min-height: 34px;
	background-color: transparent;
	line-height: 32px;
	margin-top: 12px;
	position: relative;
}

#u527
{
	z-index: 101;
	width: 402px;
	height: 1px;
	background-color: #FFFFFF;
	margin-left: 168px;
	margin-top: 1px;
	position: relative;
}

#u354-4
{
	z-index: 31;
	width: 652px;
	min-height: 33px;
	background-color: transparent;
	margin-left: 168px;
	margin-top: 37px;
	position: relative;
}

#u8023-6
{
	z-index: 80;
	width: 224px;
	min-height: 37px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 168px;
	margin-top: 36px;
	position: relative;
}

#u8023-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 224px;
	margin: 36px 0px 0px 168px;
}

#u8023-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 224px;
	margin: 36px 0px 0px 168px;
}

#u8023-6:hover p,#u8023-6:hover span
{
	color: #FFD46D;
	visibility: inherit;
}

#u343-6:active p,#u343-6:active span,#u8021-6:active p,#u8021-6:active span,#u8023-6:active p,#u8023-6:active span
{
	color: #FDB813;
	visibility: inherit;
}

#u343-4,#u8021-4,#u8023-4
{
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u343-2,#u8021-2,#u8023-2
{
	font-size: 28px;
	font-family: andada, serif;
	font-weight: 400;
	line-height: 34px;
}

#u343,#u343-3,#u8021,#u8021-3,#u8023,#u8023-3
{
	line-height: 22px;
}

#u386
{
	z-index: 67;
	height: 43px;
}

.ie #u386
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u386-bw
{
	z-index: 67;
	margin-top: 44px;
	height: 43px;
}

#u345
{
	z-index: 16;
	height: 1px;
}

#u345-bw
{
	z-index: 16;
	margin-top: 1px;
	height: 1px;
}

#pu344-8
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 17px;
}

#u344-8
{
	z-index: 2;
	width: 336px;
	min-height: 53px;
	margin-right: -10000px;
}

#u8007-6
{
	z-index: 10;
	width: 336px;
	min-height: 38px;
	padding-top: 15px;
	margin-right: -10000px;
	left: 400px;
}

#u7955
{
	z-index: 18;
	width: 53px;
	height: 53px;
	margin-right: -10000px;
	left: 767px;
}

#u7955:hover
{
	width: 53px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7931
{
	z-index: 17;
	width: 53px;
	height: 53px;
	margin-right: -10000px;
	left: 851px;
}

#u7955.MuseLinkActive,#u7931:hover
{
	width: 53px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7931.MuseLinkActive
{
	width: 53px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 988px;
}

