#u440
{
	background-color: #1A1A1A;
	position: fixed;
}

#menuu245
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u253,#u254
{
	background-color: transparent;
	position: relative;
}

#u255-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FDB813;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

#u254:hover #u255-4 p
{
	color: #FFD46D;
	visibility: inherit;
}

#u298,#u301
{
	background-color: transparent;
	position: relative;
}

#u304-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FDB813;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

#u301:hover #u304-4 p
{
	color: #FFD46D;
	visibility: inherit;
}

#u305,#u308
{
	background-color: transparent;
	position: relative;
}

#u310-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FDB813;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

#u308:hover #u310-4 p
{
	color: #FFD46D;
	visibility: inherit;
}

#u312,#u313
{
	background-color: transparent;
	position: relative;
}

#u314-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FDB813;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

#u313:hover #u314-4 p
{
	color: #FFD46D;
	visibility: inherit;
}

#u8042,#u8043
{
	background-color: transparent;
	position: relative;
}

#u8044-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FDB813;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

#u319,#u322
{
	background-color: transparent;
	position: relative;
}

#u323-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FDB813;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

#u322:hover #u323-4 p
{
	color: #FFD46D;
	visibility: inherit;
}

#u254.MuseMenuActive #u255-4 p,#u301.MuseMenuActive #u304-4 p,#u308.MuseMenuActive #u310-4 p,#u313.MuseMenuActive #u314-4 p,#u8043.MuseMenuActive #u8044-4 p,#u322.MuseMenuActive #u323-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u125
{
	background-color: #7F7F7F;
	position: fixed;
}

#u345
{
	background-color: #D0D0D0;
}

#u344-8
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #D0D0D0;
	font-size: 12px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u8007-6
{
	background-color: transparent;
	color: #D0D0D0;
	text-align: right;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7955
{
	position: relative;
	background: transparent url("../images/boton_linkedin-normal.png") no-repeat left top;
	background-size: contain;
}

#u7955:hover
{
	background: transparent url("../images/boton_linkedin-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u7955.MuseLinkActive
{
	background: transparent url("../images/boton_linkedin-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u7931
{
	position: relative;
	background: transparent url("../images/botontwitter_cuadrado53-normal.png") no-repeat left top;
	background-size: contain;
}

#u7931:hover
{
	background: transparent url("../images/botontwitter_cuadrado53-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u7931.MuseLinkActive
{
	background: transparent url("../images/botontwitter_cuadrado53-rollover.jpg") no-repeat left top;
	background-size: contain;
}

